.container {
  font-family: Avenir;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #ecf0f1;
}

ul {
  list-style: none;
}

li {
  font-family: Athelas;
  font-size: 1.25em;
  border-top: 1px solid black;
  padding: 5px;
}

li:last-child{
  border-bottom: 1px solid black;
}

.task_description.completed {
  text-decoration: line-through;
}

th {
  text-align: left;
}

.btn {
  font-family: Helvetica;
  font-size: 0.80em;
  float: right;
  margin: 5px;
}

.complete button, .delete button {
  font-weight: 500;
  /*border: 0;*/
  /*border-radius: 5px;*/
  /*padding: 5px;*/
}

.complete button {
  color: #e67e22;
}
.delete button {
  color: #e74c3c;
}

.text-input-box {
  width: 80%;
}

.task-edit-input {
  width: 60%;
}

.hidden {
  display: none;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}