.container {
  font-family: Avenir;
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #ecf0f1;
}

ul {
  list-style: none;
}

li {
  font-family: Athelas;
  font-size: 1.25em;
  border-top: 1px solid black;
  padding: 5px;
}

li:last-child{
  border-bottom: 1px solid black;
}

th {
  text-align: left;
}

.btn {
  font-family: Helvetica;
  font-size: 0.85em;
  float: right;
  /*color: #e67e22;*/
  margin: 5px;
}

.btn-complete {
  color: #e67e22;
}

.btn-delete {
  color: #e74c3c;
}

.text-input-box {
  width: 80%;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}