<div class="container">
  <h1>Welcome to Todo-nation!</h1>

  <h2>All Current Tasks:</h2>
  <ul>
  <% @tasks.each do |task|  %>
      <li class="clearfix">
        <%= task %>
        <form class="btn btn-delete" action="/tasks/<%= task.display_id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete" name="delete">
        </form>


        <form class = "btn btn-complete"action="/tasks/<%= task.display_id %>/complete" method="post">
          <input type="hidden" name="_method" value="put">

          <input type="submit" value="Complete" name="complete">
        </form>

        <a href="/tasks/<%= task.display_id %>/edit">Edit</a>

       
        
      </li>
  <% end %>
  </ul>
  <h3>Add Additional Task Below:</h3>
  <form action="/tasks" method="post">
    <input class="text-input-box" type="text" name="new_task_description">
    <input type="submit">
  </form>
</div>
