<div class="container">
  <h1>Welcome to Todo-nation!</h1>

  <h2>All Current Tasks:</h2>
  <ul id="tasks">
  <% @tasks.each do |task|  %>

      <%= erb :_task_display, locals: {task: task} %>

  <% end %>
  </ul>
  <h3>Add Additional Task Below:</h3>
  <form class="create" action="/tasks" method="post">
    <input class="text-input-box" type="text" name="description">
    <input type="submit">
  </form>
</div>
